name: Extract

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  extract:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        fail-fast:
          - false
        source:
          - nobelgo
#          - cigarworld
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: 'go.mod'
          cache: true
      - name: Build binary
        run: go build -o runner -a -gcflags=all="-l -B -C" -ldflags="-w -s" .
      - name: Extract data
        run: ./runner -i ${{ matrix.source }} -o tmp/${{ matrix.source }}
      - name: Checkout data branch
        run: git checkout data
      - name: Move to persistence dir
        run: mv tmp/${{ matrix.source }}/*.json data/${{ matrix.source}}/
      - name: Commit and push
        run: |
          git config --global user.name "Dmitry Kisler"
          git config --global user.email "admin@dkisler.com"
          git add data/${{ matrix.source }}/*.json
          git commit -S -m 'add extract from ${{ matrix.source }} as of $(date -u "+ %Y-%m-%d"). Signed-off by: Dmitry Kisler <admin@dkisler.com>'
          git fetch origin
          git rebase --strategy-option=theirs origin/data
          git push
