name: Tests

on:
  pull_request:
    paths:
      - 'go.mod'
      - 'go.sum'
      - '*.go'
      - '**/*.go'
      - '**/testdata'
  push:
    branches:
      - master
    paths:
      - 'go.mod'
      - 'go.sum'
      - '*.go'
      - '**/*.go'
      - '**/testdata'

permissions:
  contents: read

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34 # v5.3.0
        with:
          go-version-file: 'go.mod'
          cache: true
      - run: go mod download
      - run: go build -v .
      - name: Run linters
        uses: golangci/golangci-lint-action@1481404843c368bc19ca9406f87d6e0fc97bdcfd # v7.0.0
        with:
          version: latest
      - name: Run tests
        run: make test
